In [20]:
from pandas import read_csv
import datetime

In [21]:
df = read_csv("../static/data/data.csv")
df = df.fillna(0)

In [22]:
df.head()

,date,min_scriptures,min_study,min_league,min_tv,min_chores,min_family,min_kids,min_cheryl,flag_s,flag_h,flag_temple,flag_ht,flag_lift,flag_cardio,flag_fhe
0,6/28/2016,10,30,60,0,90,0,0,0,0,0,0,0,0,0,0
1,7/4/2016,10,30,0,0,30,90,0,0,0,0,0,0,0,0,0
2,7/5/2016,10,30,30,0,20,0,60,0,0,0,0,0,0,0,0
3,7/6/2016,8,0,90,0,30,0,0,0,1,0,0,0,0,0,0
4,7/7/2016,1,0,120,0,60,0,0,0,0,0,0,0,0,0,0

In [23]:
columns = df.columns

In [24]:
data_column = "flag_s"

In [25]:
last_happened = df[df[data_column] == 1].iloc[-1]['date']

In [26]:
last_happened

'7/29/2016'

In [33]:
last_happened_date = datetime.datetime.strptime(last_happened, "%m/%d/%Y").date()

In [34]:
now_date = datetime.datetime.now().date()

In [35]:
now_date

datetime.date(2016, 8, 3)

In [37]:
(now_date - last_happened_date).days

5