In [12]:
from pandas import read_csv
import datetime
import pandas as pd

In [2]:
df = read_csv("../static/data/data.csv")
df = df.fillna(0)

In [3]:
df.head()

,date,min_scriptures,min_study,min_league,min_tv,min_chores,min_family,min_kids,min_cheryl,flag_s,flag_h,flag_ht,flag_lift,flag_cardio,flag_fhe
0,6/28/16,10,30,60,0,90,0,0,0,0,0,0,0,0,0
1,7/4/16,10,30,0,0,30,90,0,0,0,0,0,0,0,0
2,7/5/16,10,30,30,0,20,0,60,0,0,0,0,0,0,0
3,7/6/16,8,0,90,0,30,0,0,0,1,0,0,0,0,0
4,7/7/16,1,0,120,0,60,0,0,0,0,0,0,0,0,0

In [5]:
data_columns = [c for c in df.columns if 'flag' in c] + ['month']
df['month'] = df.date.str.split("/").str.get(0)

In [6]:
medians = df[data_columns].groupby('month').sum().median()
medians.sort(ascending=False)
labels = medians.index
values = medians.values

In [7]:
medians

flag_cardio    1
flag_lift      1
flag_ht        1
flag_h         1
flag_s         1
flag_fhe       0
dtype: float64

In [13]:
df.index = pd.to_datetime(df['date'])

In [22]:
x = df[data_columns].resample('M', how='sum').median()

In [24]:
x.index.to_list()

AttributeError: 'Index' object has no attribute 'to_list'

In [34]:
now_date = datetime.datetime.now().date()

In [35]:
now_date

datetime.date(2016, 8, 3)

In [37]:
(now_date - last_happened_date).days

5