In [1]:
from pandas import read_csv

In [2]:
df = read_csv("../static/data/data.csv")
df = df.fillna(0)

In [3]:
df.head()

,date,min_scriptures,min_study,min_league,min_tv,min_chores,min_family,min_kids,min_cheryl,flag_s,flag_h
0,6/28/16,10,30,60,0,90,0,0,0,0,0
1,7/4/16,10,30,0,0,30,90,0,0,0,0
2,7/5/16,10,30,30,0,20,0,60,0,0,0
3,7/6/16,8,0,90,0,30,0,0,0,1,0
4,7/7/16,1,0,120,0,60,0,0,0,0,0

In [5]:
columns = df.columns

In [11]:
min_vars = []
flag_vars = []
for c in columns:
    if 'min' in c:
        min_vars.append(c)
    elif 'flag' in c:
        flag_vars.append(c)

In [12]:
min_vars

['min_scriptures',
 'min_study',
 'min_league',
 'min_tv',
 'min_chores',
 'min_family',
 'min_kids',
 'min_cheryl']

In [13]:
flag_vars

['flag_s', 'flag_h']