In [11]:
from pandas import read_csv
import datetime
import pandas as pd

In [12]:
df = read_csv("../static/data/data.csv")
df = df.fillna(0)
df.index = pd.to_datetime(df['date'])

In [13]:
df.head()

,date,min_scriptures,min_study,min_league,min_tv,min_chores,min_family,min_kids,min_cheryl,flag_s,flag_h,flag_ht,flag_lift,flag_cardio,flag_fhe
date,,,,,,,,,,,,,,,
2016-06-28,6/28/2016,10,30,60,0,90,0,0,0,0,0,0,0,0,0
2016-07-04,7/4/2016,10,30,0,0,30,90,0,0,0,0,0,0,0,0
2016-07-05,7/5/2016,10,30,30,0,20,0,60,0,0,0,0,0,0,0
2016-07-06,7/6/2016,8,0,90,0,30,0,0,0,1,0,0,0,0,0
2016-07-07,7/7/2016,1,0,120,0,60,0,0,0,0,0,0,0,0,0

In [49]:
data_column = 'min_study'
interval_df = df[data_column].resample('W', how='sum')
dates = [x.strftime('%Y-%m-%d') for x in interval_df.index.date]

In [50]:
dates

['2016-07-03',
 '2016-07-10',
 '2016-07-17',
 '2016-07-24',
 '2016-07-31',
 '2016-08-07',
 '2016-08-14',
 '2016-08-21']

In [51]:
interval_df

date
2016-07-03     30
2016-07-10    120
2016-07-17     60
2016-07-24      0
2016-07-31    215
2016-08-07    110
2016-08-14    340
2016-08-21     30
Freq: W-SUN, Name: min_study, dtype: float64